src/**
test/**
preview/**
out/**
.vscode-test/**
.gitignore
esbuild.js
tsconfig.json
test/unit/.mocharc.json
**/*.map
**/.eslintrc*
node_modules/**
media/_build_icon.py
media/_face.png
media/code-glyph.png
